<h1> Hi <%= @user.first_name %> </h1>

<p> Full Name: <%= @user.first_name %> <%= @user.last_name %> </p>
<p> Address: <%= @user.address %> </p>
<p> Phone: <%= @user.phone_number %> </p>
<p> E-Mail: <%= @user.email %> </p>

<a href="/events">View Events</a>