<%= image_tag  "handsbackground.jpg", :class => "banner_img2" %>
<div id="profilepage">
<h1><%= image_tag  "empty_profile.png", :class => "profileimg" %> Hi <%= @user.first_name %>! </h1>
<br>


<div id="info">
    <h3>Contact Info</h3><hr>
    <p> Full Name: <%= @user.first_name %> <%= @user.last_name %> </p>
    <p> Address: <%= @user.address %> </p>
    <p> Phone: <%= @user.phone_number %> </p>
    <p> E-Mail: <%= @user.email %> </p>
</div>
<a href="/users/<%= @user.id %>/edit">Edit your profile</a>

<div id="purchases">
    <h3>Purchase History</h3><hr>
    <ul style="list-style:none">
    <% if !!@purchases %>

    <% @purchases.group_by(&:event).each do |purchase| %>
        <% purchase.each do |ticket| %>
            <% sum = 0 %>
            <% if ticket == purchase[0] %>
                <h5><%= ticket.title %><br>
                <%= ticket.date.strftime("%m/%d/%y") %><br>
                <%= ticket.venue.name %></h5>
            <% else %>
                <% ticket.each do |ticket_each| %>
                    <li>
                        <% if ticket_each == ticket[0] %>
                            (Purchased on <%= ticket_each.date_purchased.strftime("%m/%d/%y") %>)<br>
                        <% end %>
                    Seat: <%= ticket_each.seat_number %><%= ticket_each.section %>  |  
                    Price: $<%= '%.2f' % ticket_each.price %>
                    <% sum += ticket_each.price %>
                    </li>
                <% end %>

                Total: $<%= '%.2f' % sum %>
            <% end %>       
        <% end %>    

        <br>
    <% end %>  
    </ul>  
    <% else %>
        <p>No purchases yet!</p>
    <% end %>
</div>

<div id="listings">
    <h3>Listings</h3><hr>
    <ul style="list-style:none">
    <% if !!@listings %>

    <% @listings.group_by(&:event).each do |purchase| %>
        <% purchase.each do |ticket| %>
            <% sum = 0 %>
            <% if ticket == purchase[0] %>
                <h5><%= ticket.title %><br>
                <%= ticket.date.strftime("%m/%d/%y") %><br>
                <%= ticket.venue.name %></h5>
            <% else %>
                <% ticket.each do |ticket_each| %>
                    <li>
                    Seat: <%= ticket_each.seat_number %><%= ticket_each.section %>  <br>
                    Price: $<%= '%.2f' % ticket_each.price %>
                    <% sum += ticket_each.price %>
                    <br><% if !!ticket_each.date_purchased %>
                        Status: sold (on <%= ticket_each.date_purchased.strftime("%m/%d/%y") %>))
                        <% else %>
                            Status: for sale<br>
                            <a href='/tickets/<%= ticket_each.id %>/edit'>Edit this listing</a><br>   
                    <% end %>
                    </li><br>
                <% end %>
            <% end %>       
        <% end %>    

        <br>
    <% end %>  
    </ul>  
    <% else %>
        <p>No listings yet!</p>
    <% end %>
</div>
</div>

