<div class="container">
<h1>
  <%= @event.title %>
</h1>
<h3>
  <%= @event.date.strftime("%A, %B %d @ %l %p") %>
</h3>
<h3>
  <%= @event.venue.name %>
</h3>
<h2>Sell Tickets</h2>
<form action="/events/<%= @event.id %>/tickets" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">
  <label>Price:</label>
  <input type="number" name="ticket[price]"><br>
  <label>Seat Number:</label>
  <input type="number" name="ticket[seat_number]"><br>
  <label>Section:</label>
  <input type="text" name="ticket[section]"><br><br>
  <button type="submit" class="submitbutton">List</button>
</form><br>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red; font-size: 12px;">
      <%= error %>
    </p>
    <% end %>
      <% end %><br>
</div>      