<h1><%= @event.title %></h1>
<h3><%= @event.date.strftime("%A, %B %d, %Y") %></h3>
<h3><%= @event.venue.name %></h3>

<h2>Tickets</h2>
<ul>
<form action="/events/<%= @event.id %>/tickets/cart" method="POST">  
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">  
    <% @tickets.each do |ticket| %>
        <li>
            Seat:<%= ticket.seat_number %><%= ticket.section %><br>
            $<%= '%.2f' % ticket.price %><br>
            <input type="checkbox" name="selected_ticket[]" value="<%= ticket.id %>"> Select
        </li>
    <% end %>
    <button type="submit">Add to Cart</button>
</form>    
</ul>

<h2>Sell Tickets</h2>
<form action="/events/<%= @event.id %>/tickets" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">
    <label>Price:</label>
    <input type="number" name="ticket[price]"><br>
    <label>Seat Number:</label>
    <input type="number" name="ticket[seat_number]"><br>
    <label>Section:</label>
    <input type="text" name="ticket[section]"><br>
    <button type="submit">Sell Ticket</button>
</form>    


