<a href="/events">Back to Events</a>
<% session[:cart].each do |item| %>
    <% @tickets << Ticket.find(item) %>
<% end %>
<h3>Items in your cart (<%= @tickets.count %>):</h3>
<ul style="list-style:none">    
<% @tickets.each do |ticket| %>
    <li> 
        <% @total += ticket.price %>       
        <% event = Event.find(ticket.event_id) %>
        Event: <%= event.title %><br>
        Date of Event: <%= event.date.strftime("%m/%d/%y") %><br>
        Seat: <%= ticket.seat_number %> Section: <%= ticket.section %><br>
        Price: $<%= '%.2f' % ticket.price %><br>
        <a href="/tickets/<%= ticket.id %>/remove" data-method="POST">Remove</a>
    </li>    
<% end %>
</ul>
Total: $<%= '%.2f' % @total %><br>
<form action="/charges/new">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" class="input is-primary">
    <input type="hidden" name="total" value="<%= @total %>">
    <input type="submit" value="Checkout"/>
</form>