<a href="/events">Back to events</a>
<% session[:cart].each do |item| %>
    <% @tickets << Ticket.find(item) %>
<% end %>
<h3>Items in your cart(<%= @tickets.count %>):</h3>
<ul style="list-style:none">    
<% @tickets.each do |ticket| %>
    <li> 
        <a href="/tickets/<%= ticket.id %>/remove" data-method="POST">Remove</a>
        <% @total += ticket.price %>       
        <% event = Event.find(ticket.event_id) %>
        <%= event.title %><br>
        <%= event.date.strftime("%m/%d/%y") %><br>
        Seat: <%= ticket.seat_number %> <%= ticket.section %><br>
        $<%= '%.2f' % ticket.price %><br>
    </li>    
<% end %>
</ul>
Total: $<%= '%.2f' % @total %>