<h1>Purchase successful!</h1>
<h2>Details:</h2>
<h3>Total: $<%= '%.2f' % @amount %></h3><br>
    <% num = 1 %>
    <ul style="list-style:none">
    <% @tickets.each do |ticket| %>
        <% event = Event.find(ticket.event_id) %>
        <li>       
       <p> <%= num %> of <%= @tickets.count %></p>
        <h5>Event: <%= event.title %><br>
        Date: <%= event.date.strftime("%m/%d/%y") %><br>
        Seat: <%= ticket.seat_number %> Section: <%= ticket.section %><br>
        Price: $<%= '%.2f' % ticket.price %></h5>
        </li>    
        <% num += 1 %>
    <% end %>
    </ul>

